.title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    animation: fadeUp 1s ease;
}

.formBox {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    border-radius: 16px;
    margin-top: 16px;
    padding: 16px;
    box-shadow: 0 4px 12px #000;
    animation: fadeUp 1s ease;
}

.formBox form {
    flex-grow: 1;
}

.inputBox {
    margin-bottom: 32px;
}

.lbl {
    display: inline-block;
}

.inp {
    display: block;
    width: 100%;
    font-size: 16px;
    padding: 8px;
    border: 0;
    border-bottom: 1px solid #000;
    transition: 0.5s;
}

.inp:focus {
    outline: 0;
    border-bottom: 1px solid #1EB972;
}

.confirm {
    border: 0;
    width: 100%;
    border-radius: 16px;
    background: transparent;
    color: #1EB972;
    padding: 8px 0;
    transition: 0.5s;
    border: 1px solid #1EB972;
}

.confirm:hover {
    cursor: pointer;
    background: #1EB972;
    color: #fff;
}

.confirm:focus {
    outline: 0;
    background: #1EB972;
    color: #fff;
}

@keyframes fadeUp {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (min-width: 1200px) {
    .formBox {
        width: 800px;
        margin: 16px auto;
    }
}