
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	
    <title>Upgrade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" type="text/css">

    <link rel="stylesheet" href="css/style.css" type="text/css">
	
</head>

<body class="acc">

   
   

<div class="container">
<div class="row gutters">
	<div class="card-body">
        <form action="/changePassword" method="POST">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mb-2 text-danger">Thay đổi mật khẩu tài khoản</h6>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="currentPassword">Nhập mật khẩu hiện tại</label>
					<input name="currentPassword" type="password" class="form-control" id="currentPassword" >
				</div>
			</div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="newPassword">Nhập mật khẩu mới</label>
					<input name="newPassword" type="password" class="form-control" id="newPassword" >
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
				<div class="form-group">
					<label for="retypeNewPassword">Nhập mật khẩu mới lần hai</label>
					<input name="retypeNewPassword" type="password" class="form-control" id="retypeNewPassword" >
				</div>
			</div>
		</div>
         <div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="text-right">
					<button type="submit" class="btn btn-success">Đổi mật khẩu</button><br>
				</div>
			</div>
		</div>
        </form>
		
	</div>
</div>
</div>


</body>
</html>