

<form action="/firstLogin" method="POST">
  <label for="fname">passWord</label><br>
  <input type="text" id="passWord" name="passWord" ><br>
  <label for="lname">repassWord</label><br>
  <input type="text" id="repassWord" name="repassWord" ><br><br>
  <input type="submit" value="Submit">
</form> 